// Enable DSL2 syntax
nextflow.enable.dsl = 2

// -------------------------
// Default Parameters
// -------------------------
params {
    // Folder containing raw .fastq files
    input_dir   = 'examples/data'

    // Base output directory
    output_dir  = 'examples/soma_prep_out'

    // CPU threads to allocate per process
    threads     = 8

    // NanoPlot: maximum read length
    maxlength   = 30000

    // Chopper: quality and length thresholds
    minq        = 10
    minlen      = 250

    // HostCleanup: reference index name
    host_index  = 'human-t2t-hla'
}

// -------------------------
// Executor & Conda Settings
// -------------------------
executor {
    name = 'local'
}

conda {
    enabled = true
}

