# credentials and other secrets
assets/secrets/

# databases and example data (large files, fastq, etc.)
assets/databases/
assets/examples/

# other files (for testing/development; temporary)
archive/

# nextflow outputs and logs
.nextflow.log*
work/
.nextflow/

# Results directories
results/
null/

# other nf-core template generated dirs/files
data/
.DS_Store
testing/
testing*
*.pyc

# vscode files
SOMAteM.code-workspace
