# databases (large files)
databases/
examples/data/archive/46_1.fastq.gz


# nextflow outputs and logs
.nextflow.log*
work/
.nextflow/

# vscode files
SOMAteM.code-workspace

# nf-core template files
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/