/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    somatem Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

/* -----------------------------
   additions to nf-core config
   --------------------------- 
*/

// enable dsl2 syntax
nextflow.enable.dsl = 2

// nf-core enabling code
manifest {
    name            = 'somatem'
    description     = 'A best practices pipeline for long-read metagenomic analysis'
    version         = '1.0.0'
    nextflowVersion = '>=25.10.2'
    homePage        = 'https://github.com/treangenlab/somatem'
    mainScript      = 'workflows/main.nf'
}


// NOTE: Default Settings: will be overridden by profiles ----------------

// Load all the parameter defaults
includeConfig 'conf/parameters/preprocessing.config'
includeConfig 'conf/parameters/taxonomic_profiling.config' // includes species detection DB paths
includeConfig 'conf/parameters/assembly_mags.config'

// TODO: make species detection, genome dynamics and pathogen detection configs later
// includeConfig 'conf/parameters/species_detection.config'
// includeConfig 'conf/parameters/genome_dynamics.config'
// includeConfig 'conf/parameters/pathogen_detection.config'



// Can include important parameters here. Beware of redundancy with parameters.config
// Note that these will override the defaults in parameters.config
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options -----------------------------------------------------
    input                      = "${projectDir}/assets/samplesheet.csv" // bundled default file should resolve from the installed pipeline root
    db_base_dir                = "/home/dbs" // change to "./assets/databases" if not using a shared directory
    
    unified_db_base_dir        = "/home/Users/pacbio_bakeoff/data/ref_db/refseq03032025" // path to Eddy's unified databases (Ensemble analysis: species detection)
    // TODO: replace this temporary path with a permanent one when available

    // metadata defaults ---------------------------------------------------
    // Actual values read in from metadata_template.yaml or .._params.yml override these) 

    data_type                  = "metagenomic" // options: 16S, isolate, metagenomic
    analysis_type              = "taxonomic-profiling" // taxonomic-profiling, assembly, genome-dynamics, pathogen-detection
    sample_status              = "cross-section" // longitudinal
    sequencing_technology      = "nanopore" // nanopore, pacbio

    // References --------------------------------------------------------
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = true


    // Computed parameters ----------------------------------------------
    // these will be evaluated when config is loaded
    
    // Host sequence removal (hostile) -----------------------------
    // Conditional HOSTILE_FETCH and _CLEAN based on data_type and sample_environment
    run_hostile = params.sample_environment =~ /human/ && params.data_type != "16S"

    // TODO: future update: enable hostile db change between human default and mouse based on params.sample_environment
    // Then change the matcher to =~ /human|mouse/ to pick up both!
    // hostile_index = params.sample_environment == "human" ? "human_genome_index" : "mouse_genome_index"


    // Boilerplate options -----------------------------------------------
    outdir                       = "results/" // need to turn on publishDir in modules.config
    outputDir                    = params.outdir // alias for outdir, used in workflow outputs (future-proof, nf-core style)
    output_dir                   = params.outdir // alias for outdir, used in process level publish (Austin)
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    validate_params            = false
}

// Load base.config: resource limits and process-specific limits by label (cpus, memory, time)
includeConfig 'conf/base.config'

// -------------------------
// Profiles
// -------------------------

// Load profiles.config: profiles for different compute environments
includeConfig 'conf/profiles.config'

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/somatem'
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Prashant Kalvapalle',
            affiliation: 'Rice University',
            email: '',
            github: 'ppreshant',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Austin Marshall',
            affiliation: 'Rice University',
            email: '',
            github: 'microbemarsh',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/somatem'
    description     = """A long-read metagenomics pipeline with support for longitudinal analysis """
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '>=25.10.2'
    version         = '1.0.0dev'
    doi             = ''
}



// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'