/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // publishDir for all modules (from nf-core template)
    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]

    // introduce a 2 second delay before running FinalNanoPlot (prevent concurrency issues)
    withName: 'FinalNanoPlot' {
        beforeScript = 'sleep 2'  // 2 second delay
        maxForks = 1
        scratch = true
    }

    // resource limits for nanoplot duplicate process (delay is better than this)
    // withName: '.*NANOPLOT.*' {
    //     maxForks = 1
    //     scratch = true
    // }

    /* ---------------------------
    ext.args for different modules
    --------------------------- */
    
    // Pre-Processing --------------------------------------------------------------------
    

    // matches RawNanoPlot and FinalNanoPlot ; has errors if NANOPLOT is used here
    withName: '.*NanoPlot.*' {
        ext.args = [
            "--maxlength ${params.maxlength}",
            "--minlen ${params.minlen}"
        ].join(' ')
    }

    withName: 'CHOPPER' {
        conda = 'bioconda::chopper' // use most updated version (>0.11.0) ; vs nf-core's v0.9.0
        ext.args2 = [
            "-q ${params.minq}",
            "-l ${params.minlen}"
        ].join(' ')
    }

    withName: 'HOSTILE_FETCH' {
        storeDir = params.hostile_db
        ext.args = [
            "--minimap2", // download only minimap2 database (for long reads)
        ].join(' ')
    }


    withName: 'HOSTILE_CLEAN' {
        // label = 'process_medium' between low and medium
        cpus = 3
        memory = '18.GB' 
    }


    // taxonomic profiling -----------------------------------------------------------
    withName: 'EMU_ABUNDANCE' {
        ext.args = [
            "--type ${params.seqtype}",
            "--db ${params.emu_db}",
            "--output-dir ./",
            "--min-abundance ${params.min_abundance}",
            "--N ${params.minimap_max_alignments}",
            "--K ${params.minibatch_size}",
            "--keep-counts",
            params.keep_read_assignments ? "--keep-read-assignments" : "",
            params.keep_files ? "--keep-files" : "",
            params.output_unclassified ? "--output-unclassified" : "",
        ].join(' ')                                                           // Join converts the list here to a string.
        ext.prefix = { "${meta.id}" }                                         // A closure can be used to access variables defined in the script
    }

    withName: 'EMU_DOWNLOAD_DB' {
        storeDir = params.emu_db
    }

    withName: 'LEMUR' {
        ext.args = [
            "--rank ${params.lemur_rank}",
            "--db-prefix ${params.lemur_db_prefix}",
            "--tax-path ${params.lemur_tax_path}",
            "-t ${params.lemur_num_threads}",
            "--aln-score ${params.lemur_aln_score}",
            "--min-aln-len-ratio ${params.lemur_min_aln_len_ratio}",
            "--min-fidelity ${params.lemur_min_fidelity}",
            "--ref-weight ${params.lemur_ref_weight}",
            "--mm2-N ${params.lemur_mm2_N}",
            "--mm2-K ${params.lemur_mm2_K}",
            "--mm2-type ${params.lemur_mm2_type}",
            params.lemur_keep_alignments ? "--keep-alignments" : "",
            params.lemur_log_file ? "-e ${params.lemur_log_file}" : "",
            params.lemur_sam_input ? "--sam-input ${params.lemur_sam_input}" : "",
            params.lemur_verbose ? "--verbose" : "",
            params.lemur_save_intermediate_profile ? "--save-intermediate-profile" : "",
            params.lemur_width_filter ? "--width-filter" : "",
        ].findAll { it != "" }.join(' ')                                      // Join converts the list here to a string.
    }

    withName: 'LEMUR_DATABASEDOWNLOAD' {
        storeDir = params.lemur_db
    }
    
    withName: 'MAGNET' {
        ext.args = [
            "-a 12", // clarify the abundance column from lemur output
        ].join(' ')                                                           // Join converts the list here to a string.
    }

    // genome-dynamics -----------------------------------------------------------
    withName: 'RHEA' {
        ext.args = [
            "--output-dir ./", // output to current directory
        ].join(' ')
    }

    // MAG/assembly Workflow ----------------------------------------------------------
    // NOTE: rules for processes prepended with `SOMATEM_MAGS:` are not being used!
    //       will regularize slowly

    // checkm2
    withName: 'CHECKM2_DATABASEDOWNLOAD' {
        storeDir = params.checkm2_db
    }

    // bakta
    withName: 'BAKTA_BAKTADBDOWNLOAD' {
        storeDir = params.bakta_db
    }

    // singlem
    withName: 'SINGLEM_DOWNLOAD_DB' {
        storeDir = params.singlem_db
    }

    // Resource limits and updated software versions ----
    // Assembly
    withName: 'FLYE' {
        conda = 'bioconda::flye=2.9.6' // updated from nf-core's v2.9.5
        memory = { 36.GB * task.attempt } // halved from process_high's memory of 72 GB
    }

    // semibin singleeasybin 
    withName: 'SEMIBIN_SINGLEEASYBIN' {
        ext.args2 = [
            "--sequencing-type long_reads",
            // Use the model from sample_environment; if empty, train a new model using self-supervised
            params.sample_environment ? "--environment ${params.sample_environment}" : "--self-supervised",
            "--verbose",
            "--random-seed ${params.semibin2_random_seed}",
        ].join(' ')       
    }

    // Pigeon
    withName: 'PIGEON' {
        ext.args = [
            "--ksize ${params.pigeon_ksize}",
            "--scaled ${params.pigeon_scaled}",
            "--seed ${params.pigeon_seed}",
            "--top-bins ${params.pigeon_top_bins}",
            params.pigeon_skip_db ? "--skip_db" : "",
        ].join(' ')       
    }
        
    // Bakta
    withName: 'BAKTA_BAKTA' {
        conda = 'bioconda::bakta=1.11.4' // updated from nf-core's v1.10.4
        cpus =   { 10    * task.attempt } // increased from process_medium's cpus of 6
        memory = { 16.GB * task.attempt } // reduced from process_medium's memory of 36 GB
    }

    // Incorporating non resource arguments from commented out versions below
    //Samtools
    withName: 'SAMTOOLS_COVERAGE' {
        ext.args = "-m"
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" } // add _sorted to output filename to prevent clash with input filename
    }

    // SingleM
    withName: 'SINGLEM_PIPE' {
        ext.taxonomic_profile = true
        ext.otu_table = true
        ext.args = '--min-orf-length 96'
    }
    
    withName: 'SINGLEM_PIPE_BINS' {
        ext.otu_table = true
        ext.args = '--min-orf-length 300'
    }
    
    withName: 'SINGLEM_APPRAISE' {
        cpus = { 12 * task.attempt } // increase from process_single's 1 cpu
        ext.output_binned = true
        ext.output_unbinned = true
        ext.plot = true
        ext.args = '--imperfect --sequence-identity 0.95'
    }


    // Obsolete / unintegrated resource allocations:  -------
    // need to be standardized by adjusting labels (+ coding any outliers)
    // // Mapping
    // withName: 'SOMATEM_MAGS:MINIMAP2_INDEX' {
    //     conda = 'bioconda::minimap2=2.30' // updated from nf-core's v2.29
    //     cpus = 8
    //     memory = '16.GB'
    // }
    
    // withName: 'SOMATEM_MAGS:MINIMAP2_ALIGN' {
    //     conda = 'bioconda::minimap2=2.30 bioconda::samtools=1.22.1'
    //     cpus = 8
    //     memory = '16.GB'
    //     time = '6.h'
    // }
    
    // // SAMtools
    // withName: 'SOMATEM_MAGS:SAMTOOLS_SORT' {
    //     conda = 'bioconda::samtools=1.22.1'
    //     cpus = 4
    //     memory = '8.GB'
    // }
    
    // withName: 'SOMATEM_MAGS:SAMTOOLS_COVERAGE' {
    //     conda = 'bioconda::samtools=1.22.1'
    //     cpus = 2
    //     memory = '4.GB'
    // }
    
    // // Binning
    // withName: 'SOMATEM_MAGS:SEMIBIN_SINGLEEASYBIN' {
    //     conda = 'bioconda::semibin=2.2.0'
    //     cpus = 8
    //     memory = '32.GB'
    //     time = '8.h'
    // }
    
    // // Quality assessment 
    // withName: 'SOMATEM_MAGS:CHECKM2_PREDICT' {
    //     cpus = 4
    //     memory = '32.GB'
    //     time = '6.h' 
    // }
    
    // withName: 'SOMATEM_MAGS:CHECKM2_PARSE' {
    //     conda = 'conda-forge::python=3.8 conda-forge::pandas=1.5.3 conda-forge::numpy=1.21.6'
    //     cpus = 1
    //     memory = '2.GB'
    // }
    
    // // SingleM
    // withName: 'SOMATEM_MAGS:SINGLEM_PIPE' {
    //     conda = 'bioconda::singlem=0.19.0'
    //     cpus = 8
    //     memory = '16.GB'
    //     time = '4.h'
    // }
    
    // withName: 'SOMATEM_MAGS:SINGLEM_PIPE_BINS' {
    //     conda = 'bioconda::singlem=0.19.0'
    //     cpus = 4
    //     memory = '8.GB'
    // }

    
    // // TaxBurst
    // withName: 'SOMATEM_MAGS:TAXBURST' {
    //     conda = 'bioconda::taxburst=0.3.0'
    //     cpus = 2
    //     memory = '4.GB'
    // }

}
