// Enable conda globally
conda {
  enabled = true
  channels = ['conda-forge', 'bioconda', 'defaults']
  useMamba = false
  createArgs = '--solver=libmamba'  // Use libmamba solver for better performance
  createOptions = '-y'
}

// Parameters
params {
    completeness_threshold = 80.0
    max_cpus = 90
    max_memory = '250.GB'
    
    // Default parameters to avoid warnings
    outdir = './results'
    flye_mode = '--nano-hq'
    sample_environment = 'global'
    checkm2_completeness_threshold = 50.0
    publish_dir_mode = 'copy'
    
    
}

// Process configurations
process {
    errorStrategy = 'retry'
    maxRetries = 3
    
    // Default resources
    cpus = 1
    memory = '4.GB'
    time = '2.h'
    
    // Assembly 
    withName: 'ASSEMBLY_MAGS:FLYE' {
        conda = 'bioconda::flye=2.9.6'
        cpus = 16
        memory = '32.GB'
        time = '12.h'
    }
    
    // Mapping
    withName: 'ASSEMBLY_MAGS:MINIMAP2_INDEX' {
        conda = 'bioconda::minimap2=2.30'
        cpus = 8
        memory = '16.GB'
        time = '2.h'
    }
    
    withName: 'ASSEMBLY_MAGS:MINIMAP2_ALIGN' {
        conda = 'bioconda::minimap2=2.30 bioconda::samtools=1.22.1'
        cpus = 8
        memory = '16.GB'
        time = '6.h'
    }
    
    // SAMtools
    withName: 'ASSEMBLY_MAGS:SAMTOOLS_SORT' {
        conda = 'bioconda::samtools=1.22.1'
        cpus = 4
        memory = '8.GB'
        time = '2.h'
    }
    
    withName: 'ASSEMBLY_MAGS:SAMTOOLS_COVERAGE' {
        conda = 'bioconda::samtools=1.22.1'
        cpus = 2
        memory = '4.GB'
        time = '1.h'
        ext.args = '-m'
    }
    
    // Binning
    withName: 'ASSEMBLY_MAGS:SEMIBIN_SINGLEEASYBIN' {
        conda = 'bioconda::semibin=2.2.0'
        cpus = 8
        memory = '32.GB'
        time = '8.h'
    }
    
    // Quality assessment
    withName: 'ASSEMBLY_MAGS:CHECKM2_PREDICT' {
        conda = 'bioconda::checkm2=1.1.0'
        cpus = 4
        memory = '32.GB'
        time = '6.h' 
    }
    
    withName: 'ASSEMBLY_MAGS:CHECKM2_PARSE' {
        conda = 'conda-forge::python=3.8 conda-forge::pandas=1.5.3 conda-forge::numpy=1.21.6'
        cpus = 1
        memory = '2.GB'
        time = '30.min'
    }
    
    // SingleM
    withName: 'ASSEMBLY_MAGS:SINGLEM_PIPE' {
        conda = 'bioconda::singlem=0.19.0'
        cpus = 8
        memory = '16.GB'
        time = '4.h'
        ext.args = '--min-orf-length 96'
    }
    
    withName: 'ASSEMBLY_MAGS:SINGLEM_PIPE_BINS' {
        conda = 'bioconda::singlem=0.19.0'
        cpus = 4
        memory = '8.GB'
        time = '2.h'
        ext.args = '--min-orf-length 300'
    }
    
    withName: 'ASSEMBLY_MAGS:SINGLEM_APPRAISE' {
        conda = 'bioconda::singlem=0.19.0'
        cpus = 4
        memory = '8.GB'
        time = '2.h'
        ext.args = '--imperfect --sequence-identity 0.95'
    }
    
    // TaxBurst
    withName: 'ASSEMBLY_MAGS:TAXBURST' {
        conda = 'bioconda::taxburst=0.3.0'
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }
    
    // Bakta
    withName: 'ASSEMBLY_MAGS:BAKTA_BAKTA' {
        conda = 'bioconda::bakta=1.11.3'
        cpus = 24
        memory = '16.GB'
        time = '4.h'
    }
    
    // Pigeon - Add conda environment
    withName: 'ASSEMBLY_MAGS:PIGEON' {
        cpus = 4
        memory = '8.GB'
        time = '2.h'
    }
}

// Profiles
profiles {
    conda {
        conda.enabled = true
        conda.useMamba = true
        conda.createTimeout = '2h'
        process.conda = true
    }
    
    debug {
        process.beforeScript = 'echo $HOSTNAME && which flye && flye --version || echo "Flye not found"'
        cleanup = false
    }
    
    // Alternative profile with even more conservative CheckM2 setup
    checkm2_safe {
        conda.enabled = true
        conda.useMamba = true
        conda.createTimeout = '2h'
        process.conda = true
        
        process {
            withName: 'ASSEMBLY_MAGS:CHECKM2_PREDICT' {
                conda = 'bioconda::checkm2=1.1.0'
                cpus = 8
                memory = '32.GB'
                time = '8.h'
            }
        }
    }
}


