// Global default params, used in configs

params {
        
    // Quality filtering -------------------------------------------------
    maxlength                  = 30000
    minlen                     = 250
    minq                       = 10
    contam_ref                 = null // path to reference .fa file of contaminants to remove, chopper (not used currently: somatem.nf)

    // Host sequence removal (hostile) -----------------------------------
    hostile_index              = 'human-t2t-hla-argos985-mycob140.mmi' // remove host reads: masked index (https://github.com/bede/hostile?tab=readme-ov-file#indexes)
    hostile_db                 = "${params.db_base_dir}/hostile"
    // whether hostile is run or not is computed below in `run_hostile` param


    // Taxonomic Profiling ----------------------------------------------------------
    // EMU defaults
    emu_db                     = "${params.db_base_dir}/emu_db/emu_db2023/"
    sample_size                = null
    seqtype                    = params.sequencing_technology == "nanopore" ? "map-ont" : "map-pb"
    min_abundance              = 0.0001
    minimap_max_alignments     = 50
    minibatch_size             = 500000000
    keep_read_assignments      = true // gms_16S: changes from default
    keep_files                 = false 
    output_unclassified        = true // gms_16S: changes from default

    // LEMUR-MAGNET
    lemur_db                   = "${params.db_base_dir}/lemur_221_db/"
    lemur_db_zenodo_id         = 10802546
    lemur_taxonomy             = "${params.lemur_db}/taxonomy.tsv"
    rank                       = "species"

     
    // Sylph : Standalone DBs for different taxonomic groups
    sylph_prok_db_file = "${params.db_base_dir}/gtdb-r220-c200-dbv1.syldb" // placeholder ; will use a dir/ when auto-downloading
    // TODO: need to make a conditional in the sylph calling subworkflow to use the proper variable for Prok?/ Viral/ Fungal DBs

    // TODO: will be downloaded with automatic scripts soon
    sylph_prok_db              = "${params.db_base_dir}/sylph_prok_db/"
    sylph_vir_db               = "${params.db_base_dir}/sylph_vir_db/"


    // Species Detection ----------------------------------------------------------
    // Ensemble species detection (unified DBs for Ganon, Kraken2 and Sylph)
    ganon_db                   = "${params.unified_db_base_dir}/ganon2_abvf_030325/" // Ganon2 database
    kraken2_db                 = "${params.unified_db_base_dir}/k2_abfv_030325/" // Kraken2 database
    sylph_db                   = "${params.unified_db_base_dir}/sylph_abf_030325/database.syldb" // Sylph database
   

    // MAG/Assembly Workflow ----------------------------------------------------------
    // checkm2
    checkm2_db                 = "${params.db_base_dir}/checkm2_db/"
    checkm2_db_zenodo_id       = 14897628
    checkm2_completeness_threshold = 80.0

    // bakta
    bakta_db                   = "${params.db_base_dir}/bakta_db/" 

    // singlem
    singlem_db                 = "${params.db_base_dir}/singlem_db/"

    // flye
    flye_mode                  = "nano-hq" //sequencing data type for Flye // take from params.sequencing_technology later

    // semibin
    sample_environment        = "human_gut" // sample environment for SemiBin2's built-in model
      // options: human_gut/dog_gut/ocean/soil/cat_gut/human_oral/mouse_gut/pig_gut/built_environment/wastewater/chicken_caecum/global
    semibin2_random_seed      = 42 // random seed for SemiBin2 reproducibility (keep same across runs ; chose default of 42 on a whim)

    // Pigeon parameters (unitigs, contigs, bins comparison)
    pigeon_ksize = 17
    pigeon_scaled = 1000
    pigeon_seed = 42
    pigeon_top_bins = 20
    pigeon_reads_subsample = 0
    pigeon_skip_db = false
    
    // Computed parameters ----------------------------------------------
    // these will be evaluated when config is loaded
    
    // Host sequence removal (hostile) -----------------------------
    // Conditional HOSTILE_FETCH and _CLEAN based on data_type and sample_environment
    run_hostile = params.sample_environment =~ /human/ && params.data_type != "16S"

    // TODO: future update: enable hostile db change between human default and mouse based on params.sample_environment
    // Then change the matcher to =~ /human|mouse/ to pick up both!
    // hostile_index = params.sample_environment == "human" ? "human_genome_index" : "mouse_genome_index"


}