// Assembly MAGs parameters
params {
    
    // MAG/Assembly Workflow ----------------------------------------------------------
    // checkm2
    checkm2_db                 = "${params.db_base_dir}/checkm2_db/"
    checkm2_db_zenodo_id       = 14897628
    checkm2_completeness_threshold = 80.0

    // bakta
    bakta_db                   = "${params.db_base_dir}/bakta_db/" 

    // singlem
    singlem_db                 = "${params.db_base_dir}/singlem_db/"

    // flye
    flye_mode                  = "nano-hq" //sequencing data type for Flye // take from params.sequencing_technology later

    // semibin
    sample_environment        = "human_gut" // sample environment for SemiBin2's built-in model
      // options: human_gut/dog_gut/ocean/soil/cat_gut/human_oral/mouse_gut/pig_gut/built_environment/wastewater/chicken_caecum/global
    semibin2_random_seed      = 42 // random seed for SemiBin2 reproducibility (keep same across runs ; chose default of 42 on a whim)

    // Pigeon parameters (unitigs, contigs, bins comparison)
    pigeon_ksize = 17
    pigeon_scaled = 1000
    pigeon_seed = 42
    pigeon_top_bins = 20
    pigeon_reads_subsample = 0
    pigeon_skip_db = false


}