// Pre-processing parameters for quality filtering and host sequence removal
params {
    
    // Quality filtering (chopper) -------------------------------------------------
    chopper_maxlength          = 50000 // 
    chopper_minlen             = 1000 // 500 for conservative. 1000 recommended for denovo metagenome assembly
    chopper_minq               = 10 // use 10 for R9, and 12 for R10.4.1 or kit 14
    chopper_contam_ref         = null // path to reference .fa file of contaminants to remove, chopper (can use PhiX / lambda phage?)

    // Host sequence removal (hostile) -----------------------------------
    hostile_index              = 'human-t2t-hla-argos985-mycob140.mmi' // remove host reads: masked index (https://github.com/bede/hostile?tab=readme-ov-file#indexes)
    hostile_db                 = "${params.db_base_dir}/hostile"
    // whether hostile is run or not is computed below in `run_hostile` param

}