// Pre-processing parameters for quality filtering and host sequence removal
params {
    
    // Quality filtering -------------------------------------------------
    maxlength                  = 30000
    minlen                     = 250
    minq                       = 10
    contam_ref                 = null // path to reference .fa file of contaminants to remove, chopper (not used currently: somatem.nf)

    // Host sequence removal (hostile) -----------------------------------
    hostile_index              = 'human-t2t-hla-argos985-mycob140.mmi' // remove host reads: masked index (https://github.com/bede/hostile?tab=readme-ov-file#indexes)
    hostile_db                 = "${params.db_base_dir}/hostile"
    // whether hostile is run or not is computed below in `run_hostile` param

}