// Taxonomic profiling parameters
params {
    
    // Taxonomic Profiling ----------------------------------------------------------
    // EMU defaults
    sample_size                = null
    
    // EMU Parameters (with emu_ prefix for consistency)
    emu_type                   = params.sequencing_technology == "nanopore" ? "map-ont" : "map-pb"    // Default: map-ont
    emu_min_abundance          = 0.0001    // Default: 0.0001
    emu_db_path                = "${params.db_base_dir}/emu_db/emu_db2023/"    // Default: $EMU_DATABASE_DIR
    emu_N_minimap_max_alignments  = 50    // Default: 50
    emu_K_minibatch_size       = 500_000_000    // Default: 500M
    emu_mm2_forward_only       = false    // Default: FALSE. force minimap2 to consider the forward transcript strand only (for long mRNA/cDNA reads)
    emu_min_pid                = 0    // Default: 0. minimum percent identity (PID) based on NM tag
    emu_min_align_len          = 0    // Default: 0
    emu_max_align_len          = 2000    // Default: 2000
    emu_output_dir             = "./results"    // Default: ./results
    emu_output_basename        = ""    // Default: stem of input_file(s)
    emu_keep_files             = false    // Default: FALSE. Keep intermediate files ( alignments [.sam], reads of specied length [.fa])
    emu_keep_counts            = false    // Default: FALSE. include estimated read counts for each species in output*
    emu_keep_read_assignments  = true    // Default: FALSE (gms_16S: changes from default)
    emu_output_unclassified    = true    // Default: FALSE (gms_16S: changes from default)
    emu_threads                = 3    // Default: 3

    // Lemur Parameters
    lemur_db                   = "${params.db_base_dir}/lemur_221_db/"
    lemur_db_zenodo_id         = 10802546 // default: refseq v221 (bacteria + archaea), refseq v222 (fungi)
    
    lemur_tax_path             = "${params.lemur_db}/taxonomy.tsv"    // Default: lemur_taxonomy file
    lemur_num_threads          = 4    // Default: 4 threads
    lemur_aln_score            = "AS"    // Default: AS (SAM AS tag)
    lemur_rank                 = "species"    // Default: species
    lemur_min_aln_len_ratio    = 0.75    // Default: 0.75
    lemur_min_fidelity         = 0.5    // Default: 0.5
    lemur_ref_weight           = 1.0    // Default: 1.0
    lemur_mm2_N                = 50    // Default: 50
    lemur_mm2_K                = 500_000_000    // Default: 500M
    lemur_mm2_type             = "map-ont"    // Default: map-ont
    lemur_keep_alignments      = false    // Default: false
    lemur_log_file             = ""    // Default: stdout
    lemur_sam_input            = ""    // Default: empty string
    lemur_verbose              = true    // Default: false, changed to print debug information
    lemur_save_intermediate_profile = false    // Default: false
    lemur_width_filter         = false    // Default: false

     
    // Sylph : Standalone DBs for different taxonomic groups
    sylph_prok_db_file = "${params.db_base_dir}/gtdb-r220-c200-dbv1.syldb" // placeholder ; will use a dir/ when auto-downloading
    // TODO: need to make a conditional in the sylph calling subworkflow to use the proper variable for Prok?/ Viral/ Fungal DBs

    // TODO: will be downloaded with automatic scripts soon
    sylph_prok_db              = "${params.db_base_dir}/sylph_prok_db/"
    sylph_vir_db               = "${params.db_base_dir}/sylph_vir_db/"


    // Species Detection ----------------------------------------------------------
    // Ensemble species detection (unified DBs for Ganon, Kraken2 and Sylph)
    ganon_db                   = "${params.unified_db_base_dir}/ganon2_abvf_030325/" // Ganon2 database
    kraken2_db                 = "${params.unified_db_base_dir}/k2_abfv_030325/" // Kraken2 database
    sylph_db                   = "${params.unified_db_base_dir}/sylph_abf_030325/database.syldb" // Sylph database
   

}