// Taxonomic profiling parameters
params {
    
    // Taxonomic Profiling ----------------------------------------------------------
    // EMU defaults
    emu_db                     = "${params.db_base_dir}/emu_db/emu_db2023/"
    sample_size                = null
    seqtype                    = params.sequencing_technology == "nanopore" ? "map-ont" : "map-pb"
    min_abundance              = 0.0001
    minimap_max_alignments     = 50
    minibatch_size             = 500000000
    keep_read_assignments      = true // gms_16S: changes from default
    keep_files                 = false 
    output_unclassified        = true // gms_16S: changes from default

    // LEMUR-MAGNET
    lemur_db                   = "${params.db_base_dir}/lemur_221_db/"
    lemur_db_zenodo_id         = 10802546
    lemur_taxonomy             = "${params.lemur_db}/taxonomy.tsv"
    rank                       = "species"
    
    // Lemur Parameters
    lemur_input                 = ""    // Default: empty string (required input)
    lemur_output                = ""    // Default: empty string (required output)
    lemur_db_prefix             = "${params.lemur_db}"    // Default: lemur_db directory
    lemur_tax_path              = "${params.lemur_taxonomy}"    // Default: lemur_taxonomy file
    lemur_num_threads          = 4    // Default: 4 threads
    lemur_aln_score            = "AS"    // Default: AS (SAM AS tag)
    lemur_rank                 = "species"    // Default: species
    lemur_min_aln_len_ratio    = 0.75    // Default: 0.75
    lemur_min_fidelity         = "log(0.5)"    // Default: log(0.5)
    lemur_ref_weight           = 1.0    // Default: 1.0
    lemur_mm2_N                = 50    // Default: 50
    lemur_mm2_K                = "500M"    // Default: 500M
    lemur_mm2_type             = "map-ont"    // Default: map-ont
    lemur_keep_alignments      = false    // Default: false
    lemur_log_file             = ""    // Default: stdout
    lemur_sam_input            = ""    // Default: empty string
    lemur_verbose              = false    // Default: false
    lemur_save_intermediate_profile = false    // Default: false
    lemur_width_filter         = false    // Default: false

     
    // Sylph : Standalone DBs for different taxonomic groups
    sylph_prok_db_file = "${params.db_base_dir}/gtdb-r220-c200-dbv1.syldb" // placeholder ; will use a dir/ when auto-downloading
    // TODO: need to make a conditional in the sylph calling subworkflow to use the proper variable for Prok?/ Viral/ Fungal DBs

    // TODO: will be downloaded with automatic scripts soon
    sylph_prok_db              = "${params.db_base_dir}/sylph_prok_db/"
    sylph_vir_db               = "${params.db_base_dir}/sylph_vir_db/"


    // Species Detection ----------------------------------------------------------
    // Ensemble species detection (unified DBs for Ganon, Kraken2 and Sylph)
    ganon_db                   = "${params.unified_db_base_dir}/ganon2_abvf_030325/" // Ganon2 database
    kraken2_db                 = "${params.unified_db_base_dir}/k2_abfv_030325/" // Kraken2 database
    sylph_db                   = "${params.unified_db_base_dir}/sylph_abf_030325/database.syldb" // Sylph database
   

}